@use "../../../styles/variables";

.wrapper {
  display: grid;
  justify-items: center;
  align-content: space-between;
  row-gap: 32px;
  padding: 16px;

  @media screen and (min-width: 992px) {
    padding: 80px;
    justify-items: initial;
  }
}
.questionText {
  max-width: 624px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  text-align: center;

  @media screen and (min-width: 992px) {
    text-align: initial;
  }
}
.menuToggleButton {
  justify-self: end;

  @media screen and (min-width: 992px) {
    display: none;
  }
}
.details {
  display: grid;
  row-gap: 32px;
}
