@use "../../../../styles/variables";

.hintButton {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid variables.$black-100;
  transition: 0.2s;
  font-weight: 600;

  &:not(:hover:active):disabled {
    pointer-events: none;
    border-color: variables.$black-40;
    color: variables.$black-40;
  }
  &:hover {
    border-color: variables.$orange-80;
    color: variables.$orange-80;
  }
}
